
.cadastrado {
    width: 280px;
}

.cadastrado .cabecalho {
    background-color:  #ff43c0;
    border-radius: 10px 10px 0px 0px;
}

/* Formato de como vai aparecer a imagem */
.cadastrado img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    bottom: -50px;
}

/* Fundo do Card    */
.cadastrado .rodape {
    background: #fffffff1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

/* Nome do jogador    */
.cadastrado .rodape h4 {
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Outros Textos do h5    */
.cadastrado .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 0 16px;
}